{% extends "layout.html.twig" %}

{% block title %} page article {{ article.id }} {% endblock %}

{% block content %}

    <a href="{{ path('app_article_modifier', {id: article.id}) }}">Modifier</a>
    <a href="{{ path('app_article_supprimer', {id: article.id}) }}">Supprimer</a>

    <div class="justify-content-center text-center mt-5">


        <img class="img-fluid" width="50%" src="{{ asset('imagesArticle/' ~ article.image) }}" alt="{{ article.titre }}">
        <h2> {{ article.titre }} </h2>
        {% if article.auteur %}
            <h4>écrit par: {{ article.auteur.fullName }} </h4>
        {% else %}
            <h6 class="text-muted">auteur anonyme</h6>
        {% endif %}
        <h6 class="text-muted"> {{ article.dateDeCreation | date("d/m/Y \à H\\hi") }} </h6>

        {% if article.dateDeModification is not null %}
        <h6 class="text-muted"> {{ article.dateDeModification | date("d/m/Y \à H\\hi") }} </h6>
        {% endif %}
        <p> {{ article.contenu | raw }}</p>
    </div>

    <hr>
    <div>
        <h3>commentaires</h3>
        {{ form(formCommentaire) }}
    </div>

    {% for commentaire in commentaires  %}
        <div class="border border-primary rounded container mb-2">
            <h6 class="text-muted">écrit par : toto</h6>
            <h6 class="text-muted">le : {{ commentaire.dateDeCreation | date("d-m-Y \à H\\hi") }}</h6>
            <p>{{ commentaire.contenu | raw }}</p>
        </div>
    {% endfor %}

{% endblock %}